<div class="resume">
  <div class="resume_left">
    <div class="resume_profile">
      <img src="https://i.imgur.com/eCijVBe.png" alt="profile_pic">
    </div>
    <div class="resume_content">
      <div class="resume_item resume_info">
        <div class="title">
          <p class="bold">Jimmy Torstenson</p>
          <p class="regular">Frontend Student</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-map-signs"></i>
            </div>
            <div class="data">
              Sverige
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="data">
              070-xxx xx xx
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="data">
              thorstensonj@gmail.com
            </div>
          </li>

        </ul>
      </div>
      <div class="resume_item resume_skills">
        <div class="title">
          <p class="bold">skill's</p>
        </div>
        <ul>
          <li>
            <div class="skill_name">
              HTML
            </div>
            <div class="skill_progress">
              <span style="width: 20%;"></span>
            </div>
            <div class="skill_per">20%</div>
          </li>
          <li>
            <div class="skill_name">
              CSS
            </div>
            <div class="skill_progress">
              <span style="width: 20%;"></span>
            </div>
            <div class="skill_per">20%</div>
          </li>
          <li>
            <div class="skill_name">
              SASS
            </div>
            <div class="skill_progress">
              <span style="width: 20%;"></span>
            </div>
            <div class="skill_per">20%</div>
          </li>
          <li>
            <div class="skill_name">
              JS
            </div>
            <div class="skill_progress">
              <span style="width: 20%;"></span>
            </div>
            <div class="skill_per">20%</div>
          </li>

        </ul>
      </div>
      <div class="resume_item resume_social">
        <div class="title">
          <p class="bold">Social</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fab fa-facebook-square"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Facebook</p>

            </div>
          </li>

          <li>
            <div class="icon">
              <i class="fab fa-linkedin"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Linkedin</p>

            </div>
          </li>
        </ul>
      </div>
    </div>
 </div>
 <div class="resume_right">
   <div class="resume_item resume_about">
       <div class="title">
          <p class="bold">Om mig</p>
        </div>
       <p>Mitt namn är Jimmy Torstenson och jag är 35 år gammal. Jag har fru och tre barn. Jag bestämde mig efter 10 år i industrin branschen att skola om mig till frontend utvecklare. Det verkar vara ett spännande och utmanande yrke där jag kan utvecklas hela tiden.</p>
   </div>
   <div class="resume_item resume_work">
       <div class="title">
          <p class="bold">Tidigare Jobb</p>
        </div>
       <ul>
           <li>
               <div class="date">2008 - 2010</div>
               <div class="info">
                    <p class="semi-bold">El montör</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
               </div>
           </li>

           <li>
             <div class="date">2011 - 2020</div>
             <div class="info">
                    <p class="semi-bold">Maskinoperatör </p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
               </div>
           </li>
       </ul>
   </div>
   <div class="resume_item resume_education">
     <div class="title">
          <p class="bold">Utbildningar</p>
        </div>
     <ul>
           <li>
               <div class="date">2001-2004</div>
               <div class="info">
                    <p class="semi-bold">Datorteknik</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
               </div>
           </li>
           <li>
             <div class="date">2020 - </div>
             <div class="info">
                    <p class="semi-bold">Frontend utvecklare</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
               </div>
           </li>
       </ul>
   </div>
   <div class="resume_item resume_hobby">
     <div class="title">
          <p class="bold">Hobby</p>
        </div>
      <ul>
        <li><i class="fas fa-book"></i></li>
        <li><i class="fas fa-gamepad"></i></li>
        <li><i class="fas fa-music"></i></li>
        <li><i class="fab fa-pagelines"></i></li>
     </ul>
   </div>
 </div>
</div>